# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# LaTeX intermediate build files
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)

# Compiled binaries
tangled_nature
